<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3> Inventory</h3>

 <!-- Top row with form-->
 <div class="row" th:if="${info.getRole() == 'supervisor'}">
	&nbsp;&nbsp;&nbsp;<h4>Add On</h4>
	 <div class="col-12" >
			<form id="inventory-add-form">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="inputBarcode">Barcode</label>
                      <select class="form-control" name="barcode" id="inputBarcode" required="required">
                      <option value="">Select Category</option>
                    </select>
						<!-- <label for="inputBarcode">Barcode</label>
						<input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Product Barcode"> -->
					 </div>
				   <div class="form-group col-md-4">
					  <label for="inputQuantity">Quantity</label>
					  <input type="number" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity" required min="0" max="1000000000">
				   </div>
					  <div class="form-group d-flex flex-column justify-content-end col-md-4 ml-auto">
						<div class="ml-auto">
						<button type="button" class="btn btn-dark" id="addon-inventory">Add Inventory</button>
						&nbsp;
						<button type="button" class="btn btn-dark" id="upload-data">Upload</button>
						</div>
					</div>
				</div>
			 </form>
	 </div>	

	 <div class="col-12">
		&nbsp;
	</div>
</div> 

<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-bordered table-striped datatable" id="inventory-table">
		<thead class="thead-dark">
	    <tr class="text-center">
	      <th scope="col">Barcode</th>
	      <th scope="col">Quantity</th>
		  <th scope="col" th:if="${info.getRole() == 'supervisor'}">Action</th>
	    </tr>
	  </thead>
	  <tbody class="text-center">

	  </tbody>
	</table>

</div>
</div>

	<!-- Inventory Edit Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="edit-inventory-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Inventory</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form  id="inventory-edit-form">
						<div class="form-group" style="margin-bottom:20px;">
							<label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
							<div class="col-sm-12">
								<input readonly type="text" class="form-control" name="barcode" placeholder="Enter barcode">
							</div>
						</div>
						<div class="form-group" style="margin-bottom:20px;">
							<label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
							<div class="col-sm-12">
								<input type="number" class="form-control" name="quantity" placeholder="Enter quantity" min="0" max="1000000000" required >
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-dark" id="add-inventory">Update</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Inventory Edit Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="upload-inventory-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title">Upload Inventory</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="inventory-file">
						<input type="file" class="custom-file-input" id="inventoryFile">
						<label class="custom-file-label" for="inventoryFile" id="inventoryFileName">Choose file</label>
					</div>
					<a th:href="@{/sample/inventory.tsv}" target="_blank">Download Sample</a>
					<br>
					Rows: <span id="rowCount">0</span>,
					Processed: <span id="processCount">0</span>,
					Errors: <span id="errorCount">0</span>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-outline-primary" id="process-data">Upload</button>
					<button type="button" class="btn btn-outline-primary" id="download-errors">Download Errors</button>
				</div>
			</div>
		</div>
	</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/inventory.js}"/></script>

</body>	

</html>