<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>


<div class="container">

<h3>Products</h3>

 <!-- Top row with form-->
 <div class="row">
	<div class="col-12">
		<!-- <form class="form-inline" id="search-form">
		<div class="form-group col-4">
		<label for="inputName" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Product</label>
		 <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter Product Name">
	  </div>
	  
	
	  <div class="form-group col-4">
		<label for="inputBarcode" class="col-sm-2 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Barcode</label>
		  <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Product Barcode">
	  </div>
	  </form> -->
	  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
	  <!-- <div class="form-group col-4" style=" padding-left: 104px;">
		<label class="col-sm-12 col-form-label" style="color:white">g</label>
	  <button type="button" class="btn btn-outline-primary" id="search-by-name-barcode">Search</button>
	  &nbsp;
	  <button type="button" class="btn btn-outline-primary" id="add-product">Create</button>
	  &nbsp;
	  <button type="button" class="btn btn-outline-primary" id="upload-data">Upload</button>
	 </div> -->
	 <form id="search-form">
		<div class="row">
		   <div class="form-group col-md-4">
			  <label for="inputName">Product</label>
			  <input type="text" class="form-control" name="name" id="inputName" placeholder="Enter Product Name">
		   </div>
		   <div class="form-group col-md-4">
			  <label for="inputBarcode">Barcode</label>
			  <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Product Barcode">
		   </div>
			  <div class="form-group d-flex flex-column justify-content-end col-md-4 ml-auto">
				<div class="ml-auto">
				<button type="button" class="btn btn-dark" id="search-by-name-barcode">Search</button>
				&nbsp;
				<button type="button" class="btn btn-dark" id="add-product">Create</button>
				&nbsp;
				<button type="button" class="btn btn-dark" id="upload-data">Upload</button>
			    </div>
			</div>
		</div>
	 </form>
	</div>
</div> 


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-bordered table-striped" id="product-table">
	  <thead class="thead-dark">
	    <tr class="text-center">
	      <th scope="col">ID</th>
	      <th scope="col">Barcode</th>
	      <th scope="col">Brand </th>
		  <th scope="col">Category </th>
	      <th scope="col">Name</th>
	      <th scope="col">MRP</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody class="text-center">
	  </tbody>
	</table>

</div>
</div>

<!-- Produt Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form id="product-edit-form">
			  <div class="form-group" style="margin-bottom:20px;">
			    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
			    <div class="col-sm-12">
			      <input  readonly type="text" class="form-control" name="barcode" placeholder="enter barcode">
			    </div>
			  </div>
			  <div class="form-group" style="margin-bottom:20px;">
			    <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>
			    <div class="col-sm-12">
			      <input  readonly type="text" class="form-control" name="brand" placeholder="enter brand">
			    </div>
			  </div>
			  <div class="form-group" style="margin-bottom:20px;">
			    <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
			    <div class="col-sm-12">
			      <input  readonly type="text" class="form-control" name="category" placeholder="enter category">
			    </div>
			  </div>
			  <div class="form-group" style="margin-bottom:20px;">
			    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
			    <div class="col-sm-12">
			      <input type="text" class="form-control" name="name" placeholder="enter name">
			    </div>
			  </div>
			  <div class="form-group" style="margin-bottom:20px;">
			    <label for="inputMrp" class="col-sm-2 col-form-label">MRP</label>
			    <div class="col-sm-12">
			      <input type="number" class="form-control" name="mrp" placeholder="enter mrp">
			    </div>
			  </div>
 	           <input type="hidden" name="id" >
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="update-product">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Product Add Modal -->
  <div class="modal" data-backdrop="static" data-keyboard="false" id="add-product-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Add Product</b></h5>
            </div>
            <div class="modal-body">
                <form id="add-product-form">
                    <div class="form-group">
                        <label class="required col-sm-2-random col-form-label-random"
                               for="inputBarcode">&nbsp;&nbsp;<b>Barcode</b>&nbsp;&nbsp;</label>
                        <div class="col-sm-12">
                            <input class="form-control" id="inputName" name="barcode" placeholder="Enter Barcode"
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required col-sm-2-random col-form-label-random"
                               for="inputBrand">&nbsp;&nbsp;<b>Brand
                            Name</b>&nbsp;&nbsp;</label>
                        <div class="col-sm-12">
                            <select name="brand" class="form-control form-control-md" aria-label=".form-select-sm example" id="inputBrand" style="width: 100%">
								<option selected="" value="">Select Brand</option>
							</select>
                        </div>
 
						<!-- <select name="brand" id="brand" onchange="jsFunction();">
							<option id="option_brand" value="None">Choose a brand</option>
						</select>
						<label for="category">Cateogry:</label> -->
                    </div>

                    <div class="form-group">
                        <label class="required col-sm-2-random col-form-label-random"
                               for="inputCategory">&nbsp;&nbsp;<b>Category</b>&nbsp;&nbsp;</label>
                        <div class="col-sm-12">
                            <select name="category" class="form-control form-control-md" aria-label=".form-select-sm example" id="inputCategory" style="width: 100%">
								<option selected="" value="">Select Category</option>
							</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required col-sm-2-random col-form-label-random"
                               for="inputName">&nbsp;&nbsp;<b>Product
                            Name</b>&nbsp;&nbsp;</label>
                        <div class="col-sm-12">
                            <input class="form-control" id="inputName" name="name" placeholder="Enter Product name" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="required col-sm-2-random col-form-label-random"
                               for="inputMrp">&nbsp;<b>&nbsp;&nbsp;MRP</b></label>
                        <div class="col-sm-12">
                            <input class="form-control" id="inputMrp" name="mrp" placeholder="Enter MRP"
                                   type="number">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
				<button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                <button class="btn btn-dark" id="add-product-1" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Product Upload Modal -->
<div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		
		<div class="modal-header">
		  <h5 class="modal-title">Upload product</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		
		<div class="modal-body">
			<div class="product-file">
			<input type="file" class="custom-file-input" id="productFile">
			<label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
		  </div>
		  <a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a> 
		  <br>
		  Rows: <span id="rowCount">0</span>, 
		  Processed: <span id="processCount">0</span>, 
		  Errors: <span id="errorCount">0</span>
		</div>
		
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		  <button type="button" class="btn btn-primary" id="process-data">Upload</button>
		  <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
		</div>
	  </div>
	</div>
  </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"/></script>

</body>

</html>